
button{

width: 250px; /*anchode boton*/
height: 80px;  /*altura de boton*/
font-family: Roboto, sans-serif;
font-weight: bold;
color: white;
border: 2px solid white;
border-radius: 15px;
margin: 5px;
cursor: pointer;  /*al pasar por ahi se convierte en una manito*/
font-size: 28px;
}

button:hover{

background-color: rgb(0, 0, 0);
transition: 1s;
}

.boton-clic {    /*esta clase esta asignada en el codigo boton.js*/

  background-color: rgb(175, 19, 32);

}

.boton-reiniciar{

  background-color: rgb(43, 86, 165);
}

