*{

padding: 0;
margin: 0;
box-sizing: border-box; /*le dice a css como se va na comportar en ancho y alto */

}

html,
body{

background-color: rgb(20, 110, 122);

}

.App{

  display: flex;  /*asigans display fles parap oder tomar sus propieades*/
  flex-wrap: wrap;  /*alinearlos central y verticalmente con estas `propiedades*/
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-family: Lato,sans-serif;
}

.logo-principal-andres{

  width: 68%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  box-shadow: inset 0 0 30px rgb(153, 17, 17);
  border-radius: 20PX;
  padding: 7px;
  background-color: rgb(27, 65, 65);
  
}

.logo-principal-andres:hover{

opacity: 50%;
transition: 1s;
transform: scale(1.1);
}

.logo-andres{

  width: 35%;
}

.contenedor-principal{

height: 550px;

}